<div class="column">
    <div class="d-flex align-item-center">
        <h4>{{ column.title }}</h4>
        <button (click)="deleteColumn()" class="task-btn-delete">X</button>
    </div>
    <hr>
    <app-task *ngFor="let task of column.tasks; let j = index" [task]="task" [taskIndex]="j"></app-task>
    <div class="space"></div>
    <input [(ngModel)]="newTaskName" type="text" name="task" id="task" placeholder="Ex: Rédiger le rapport" />
    <button (click)="addTask()" class="task-add-btn">Ajouter une
        tâche</button>
</div>